node_modules/**/*
.expo/*
src/services/
dist/
web-build/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

npm-debug.*
yarn-debug.*
yarn-error.*
.env*.local
*.tsbuildinfo

# macOS
.DS_Store
yarn.lock
.expo-shared

